---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Default.astro";
import ResourceList from "@components/resource/ResourceList.astro";
import { Button } from "@eliancodes/brutal-ui";

export async function getStaticPaths() {
  const allPosts = await getCollection("resource").then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag },
      props: {
        tag,
        resourceposts: allPosts.filter((post) =>
          post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  resourceposts: CollectionEntry<"resource">[];
}

const { tag, resourceposts } = Astro.props;
---

<Layout
  title={`Resource: ${tag}`}
  description={`BlockSpace Resource | All posts tagged with ${tag}`}
  pageTitle={`BlockSpace Resource | Resourceposts tagged with ${tag}`}
>
  <main class="p-6 bg-purple grid gap-4">
    <div>
      <Button href="/resource/">&larr; Back to Resource</Button>
    </div>
    <ResourceList posts={resourceposts} />
  </main>
</Layout>
