---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/DefaultLayout.astro'
// import Layout from '@layouts/DefaultLayout.astro'
// import BlogList from '@components/blog/BlogList.astro'
import BlogList from '../../components/blog/BlogList.astro'

const posts = await getCollection('blog').then((collection) => collection.reverse())
---

<Layout
  title="區塊空間"
  description="BlockSpace Blog | On this page you can find a collection of blogposts"
  pageTitle="BlockSpace Blog"
>
  <main class="bg-green p-6">
    <BlogList posts={posts} />
  </main>
</Layout>
