---

---

<footer class="bg-black text-white p-6 site-footer">
  <h2 class="hidden">Footer</h2>

  <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
    <h2 class="hidden">About BlockSpace</h2>
    <div class="col-span-4">
      <h6>關於</h6>
      <div class="text-justify">
        <li>區塊鏈內容深耕</li>
        <li>區塊鏈 + AI 的結合工具</li>
        <li>區塊鏈相關的活動</li>
      </div>
    </div>
    <div class="col-span-2">
      <h6>區塊鏈資訊</h6>
      <ul class="footer-links">
        <li><a href="/blog/tags/教學/">教學</a></li>
        <li><a href="/blog/tags/新手/">新手</a></li>
      </ul>
    </div>
    <div class="col-span-2">
      <h6>快速連結</h6>
      <ul class="footer-links">
        <li><a href="https://t.me/theblockspaces">加入 Telegram</a></li>
        <li>
          <a href="https://www.instagram.com/the.blockspace">追蹤 Instagram</a>
        </li>
        <li><a href="https://twitter.com/bungeegumeee">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/sam-hbz/">Linkedin</a></li>
        <li><a href="https://github.com/whereissam">Github</a></li>
        <li><a href="https://portaly.cc/theblockspace">Portaly</a></li>
      </ul>
    </div>
  </section>
  <p class="outfit">2023 © All rights reserved BlockSpace</p>
</footer>
