---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import ResourceList from "@components/resource/ResourceList.astro";

const posts = await getCollection("resource").then((collection) =>
  collection.reverse()
);
---

<Layout
  title="BlockSpace Resource"
  description="BlockSpace Resource | On this page you can find a collection of Resourceposts"
  pageTitle="BlockSpace Resource"
>
  <main class="bg-green p-6">
    <ResourceList posts={posts} />
  </main>
</Layout>
